{% extends "Base.html" %}
{% block scripts %}
<script>
var count = 0;
</script>
<script>
function enterToBr(e){
    var evt = e || window.event;
    var keyCode = evt.charCode || evt.keyCode;
    if(keyCode==13){
            document.execCommand('insertHTML', false, '<br/>');
			this.submit();
			return false;
    }
}
</script>
<script>
function remove(elem){
document.getElementById(elem.getAttribute('name')).remove();
elem.remove();
}
</script>
<script>
function upload(elem){
var image = document.createElement('img');
var blob = window.URL.createObjectURL(elem.files[0]);
image.setAttribute('src',blob);
image.setAttribute('class','picture');
image.height = 480;
image.setAttribute('name','picture');
image.width = 539;
var div_ = elem.closest('.img_div');
insertAfter(elem,image);
elem.style = 'display:none;';
  }
function addButton(){
var button = document.createElement('button');
var del = document.getElementById('del');
var main = document.getElementById('main');
button.textContent = 'Удалить';
button.setAttribute('onclick','remove(this)');
button.setAttribute('name','elem'+count);
button.setAttribute('class','remove');
button.setAttribute('contenteditable',false);
document.getElementById('elem'+count).appendChild(button);
return button;
 }
function add_image() {
var divImage = document.createElement('div');
var del = document.getElementById('del');
divImage.setAttribute('id','elem'+count);
divImage.setAttribute('class','editor img');
var main = document.getElementById('main');
var im = document.createElement('input');
var sign = document.createElement('input');
im.name = 'img';
im.type = 'file';
sign.type = 'text';
sign.name = 'descr';
im.setAttribute('onchange','upload(this)');
divImage.appendChild(im);
divImage.appendChild(sign);
main.insertBefore(divImage, document.getElementById("block"));
addButton();
count += 1;
}
</script>
<script>
function add_text(){
var divText = document.createElement('div');
var del = document.getElementById('del');
divText.setAttribute('id','elem'+count);
divText.setAttribute('style','margin-top:10px;');
divText.setAttribute('class','editor');
divText.setAttribute('contenteditable','true');
divText.setAttribute('data-placeholder','Введите текст');
divText.setAttribute('keydown','new_string()');
divText.appendChild(document.createElement('br'));
main.insertBefore(divText, block);
addButton();
count += 1;
}
</script>
<script>
function test(){
var title = document.getElementById("record_title");
var text = document.getElementById("main");
var tags = document.getElementById("tags_id");
console.log(title.value);
console.log(text.innerHTML);
console.log(tags.value);
}
function send() {
var title = document.getElementById("record_title");
var text = document.getElementById("main");
var tags = document.getElementById("tags_id");
if ((title.value != "") && (tags.innerHTML != "-")){
document.getElementById('data').innerHTML = document.getElementById("main").innerHTML;
document.getElementById("block").remove();
}
else{
return false;
}
}
</script>
<script>
function insertAfter(referenceNode, newNode) {
  referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
}
</script>
<script>
function add_tag(){
var hidden = document.getElementById('tags_id');
var sel = document.getElementById('select_tag').selectedIndex;
var tag_field = document.getElementById('tags-title');
var elem = document.createElement('li');
if (sel > 0 && !hidden.value.includes('-'+sel+'-') && tag_field.childElementCount<5) {
hidden.value += sel+'-';
elem.textContent = document.getElementById('select_tag').options[sel].text;
elem.setAttribute('class','added_tag');
elem.setAttribute('name',sel);
elem.setAttribute('onclick','remove_tag(this)');
tag_field.appendChild(elem);
}
}
function remove_tag(elem){
var hidden = document.getElementById('tags_id');
var txt = hidden.value;
hidden.value = txt.replace('-'+elem.attributes['name'].value+'-','-');
elem.remove();
}
</script>
<script>
function new_string(e) {
    // trap the return key being pressed
    if (e.keyCode === 13) {
        // insert 2 br tags (if only one br tag is inserted the cursor won't go to the next line)
        document.execCommand('insertHTML', false, '<br/>');
        // prevent the default behaviour of return key pressed
        return false;
    }
};
</script>
{% endblock %}
{% block main %}
<div id='new_record' align='center'>
<div class='block_' id='del'>
</div>
<form id='form_' action='{% url "add" %}' method='POST' enctype='multipart/form-data'>
{% csrf_token %}
<label>Категория записи</label>
<select name='category' required>
{% for cat in categories %}
<option value={{cat.pk}}>{{cat.title}}</option>
{% endfor %}
</select>
<div id='select'>
<label>Теги</label>
<select id='select_tag'>
<option value=''>-------</option>
{% for i in tags %}
<option value={{i.pk}}>{{i.title}}</option>
{% endfor %}
</select>
<ul id='tags-title'>
{% for t in one.tags.all %}
<li class='added_tag' name='{{t.pk}}' onclick='remove_tag(this)'>{{t.title}}</li>
{% endfor %}
</ul>
<span id="add_" onclick="add_tag()">Добавить тег</span>
<input type='hidden' name='tags_id' id ='tags_id' value='-' required>
</div>
<input type='text' name='title' id='record_title' placeholder='Название записи' required>
<textarea name='text' id='data' style='display:none;'></textarea>
<button onclick="send()" type='submit'>Добавить запись</button>
<div id='main' style='margin-top:15px;border:3px solid black;width:700px;font-size:20px;'>
<div class='block_' id = "block">
<span onclick='add_image()'>Добавить картинку</span>
<span onclick='add_text()'>Добавить текст</span>
</div>
</div>
</form>
</div>
<script>
add_text();
</script>
{% endblock %}