{% extends 'Base.html' %}
{% block main %}
<div class='element' id='content'>
{% for r in records %}
<a href='{% url "record" r.link r.pk %}' class='review'>
<img src="{{ r.photos.first.file.url }}" width='350' height='356'>
<span class='category'>{{r.category.title}}</span>
<span class='record-title' align='center'>{{ r.title }}</span>
</a>
{% endfor %}
</div>
<div class="element" id="btn" align='center'>
            <button type="button" class="btn btn-success" onclick='loadmorePost()'>Load More Post</button>
        </div>
<script>
    // var _current_item = $('.single_content').length
    // console.log(_current_item);
    const loadBtn = document.getElementById('btn');
    //const spinner = document.getElementById('spinner');
    //const total = JSON.parse(document.getElementById('json-total').textContent);
    //const alert = document.getElementById('alert');

    function loadmorePost() {
		var elements = document.getElementsByClassName('content');
		var requiredElement = elements[0];
        var _current_item = $('.review').length;
        const content_container = document.getElementById("content");
        $.ajax({
            url: '{% url "load" %}',
            type: 'GET',
            data: {
                 'loaded_item': _current_item
             },
            //beforeSend: function () {
				//loadBtn.classList.add('not-visible');
                //spinner.classList.remove('not-visible');
					//},
            success: function (response) {
                const data = response.posts;
				if (data)
                //spinner.classList.add('not-visible')
                data.map(post => {
					//var link = "${requiredElement.href.replace(,)}";
					var link = `/<${post.link}>-id${post.id}`;
					var prev = `${post.photo}`;
                    content_container.innerHTML += `<a href='${link}' class='review'><img src='${prev}' width='350' height='356'>`+
														`<span class='category'>${post.category}</span>`+`<span class='record-title' align='center'>${post.title}</span></a>`;
                    });
                    //if (_current_item == total) {
                        //alert.classList.remove('not-visible');
                    //} else {
                        //loadBtn.classList.remove('not-visible');
                    //}
                },
                error: function (err) {
                    console.log(err);
                },
            });
        }
        //loadBtn.addEventListener('click', () => {
            //loadmorePost()
        //});
    </script>
{% endblock %}