{% extends 'Base.html' %}
{% block main %}
<div class='element' id='content'>
{% for r in records %}
<a href='{% url "record" r.link r.pk %}' class='review'>
<img src="{{ r.photos.first.file.url }}" width='350' height='356'>
<span class='category'>{{r.category.title}}</span>
<span class='record-title' align='center'>{{ r.title }}</span>
</a>
{% endfor %}
</div>
{% if more %}
<button type="button" class="element" onclick='loadmorePost()' id='button'>ЗАГРУЗИТЬ ЕЩЁ</button>
<script>
    const loadBtn = document.getElementById('button');

    function loadmorePost() {
		var elements = document.getElementsByClassName('content');
		var requiredElement = elements[0];
        var _current_item = $('.review').length;
        const content_container = document.getElementById("content");
        $.ajax({
            url: '{{url_}}',
            type: 'GET',
            data: {
                 'loaded_item': _current_item
             },
            success: function (response) {
                const data = response.posts;
				console.log(data);
                data.map(post => {
					var link = `/${post.link}-id${post.id}`;
					var prev = `${post.photo}`;
                    content_container.innerHTML += `<a href='${link}' class='review'><img src='${prev}' width='350' height='356'>`+
														`<span class='category'>${post.category}</span>`+`<span class='record-title' align='center'>${post.title}</span></a>`;
                    });
                    if (response.index == false) {
                        loadBtn.remove();
                    }
            }
        }
        );
}			
    </script>
{% endif %}
{% endblock %}